<div class="container">
  <%= form_with url: search_path, method: :get do |f| %>
    <div class="row">
      <div class="col-md-11 offset-md-1 col-lg-8 offset-lg-4">
        <div class="row">
            <%= f.select :model,
              {
                "投稿から検索" => "Post",
                "ユーザーを検索" => "User"
              },
              { selected: params[:model] },
              { class: "form-control col-sm-3 m-2" }
            %>
            <%= f.select :method,
              {
                "完全一致": "exact",
                "前方一致": "prefix",
                "後方一致": "suffix",
                "部分一致": "partial"
              },
              { selected: params[:method] },
              { class: "form-control col-sm-2 m-2" }
            %>
            <%= f.search_field :keyword,
                placeholder: "検索するワード",
                value: params[:keyword],
                class: "form-control col-sm-3 m-2"
            %>
            <%= f.submit "この条件で検索する", class: "btn btn-primary btn-block col-sm-2 m-2" %>
        </div>
      </div>
    </div>
  <% end %>
</div>